{% extends "base.html" %}
{% block content %}
      <div class="row">
          <div class="col-8">
              <h1>{{ page_title }}</h1>
                {{ news.text|safe }}
                {% if news.comments %}
                <h5>Комментарии: </h5>
                {% for comment in news.comments %}
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text"><small>Опубликовано: {{ comment.created.strftime('%d.%m.%Y %H:%M:%S') }} | Автор: {{ comment.user.username }}</small></p>
                      </div>
                    </div>
                {% endfor %}
              {% endif %}
              {% if current_user.is_authenticated %}
                  <form action="{{ url_for('news.add_comment') }}" method="POST">
                      {{ comment_form.hidden_tag() }}
                      <div class="form-group">
                          {{ comment_form.comment_text.label }}
                          {{ comment_form.comment_text() }}
                      </div><br>
                      {{ comment_form.submit() }}
                  </form>
              {% else %}
                <a href="{{ url_for('user.login', next=request.full_path) }}">Авторизуйтесь</a>, чтобы оставить комментарий
              {% endif %}
          </div>
          <div class="col-4">
              <h2>Погода</h2>
              <p>
                {% if weather_text %}
                    Температура: {{ weather_text.temp_C }}℃, Ощущается как: {{ weather_text.FeelsLikeC }}℃
                        ({{ weather_text.lang_ru[0].value }})
                {% else %}
                    Сервис не доступен
                {% endif %}
              </p>
          </div>
      </div>
{% endblock %}